<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("templets/head.ejs") %> 
</head>

<body>

    <%- include("templets/navbar") %> 

    <h2>Name: <%= name %> </h1>
        <h2>Subscribers: <%= subscribers %> </h2>
        <h2>Description: <%= description %> </h2>
        <hr>
        <% for( i of posts){ %>
        <h3>Tital: <%= i.title %> </h3>
        <h3>Author: <%= i.author %> </h3>

        <% if(i.img){ %>
        <img src="i.img" alt="it have a image">
        <% } %>

        <% } %>


</body>

</html>